.grandpa{
    display: flex;
    justify-content: center;
}


.child_1{
    display: flex;
    width: 500px;
    height: 200px;
    background: #246abb;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.child_2{
    display: flex;
    justify-content: space-between;
}

.child_3{
    display: flex;
    width: 500px;
    height: 400px;
    background: #246abb;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.grandchild{
    display: flex;
    align-items: center;
    width: 30%;
    height: 200px;
    background: #18467b;
    justify-content: center;
}

.big_text{
    margin: 0;
    color: aliceblue;
    font-size: 30px;
    font-family: "Calibri Light", sans-serif;
}

.little_text{
    margin: 0;
    color: aliceblue;
    font-size: 15px;
    font-family: "Calibri Light", sans-serif;
}